@import url('https://koriel.co/fonts/kopub/1.0/kopubdotum.min.css');

*{
  /*font import*/
  font-family: 'KoPub Dotum', sans-serif;
  font-weight: 300;
}

body{
  background-color: #008cff;
  color:white;

  /*not allow selecting*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */

}

.copyright{
  text-align: center;
  position: relative;
}

/*Not allow to link in site*/
a {
 color: white;
 text-decoration: none;
 font-weight: 500;
}

ul {
  margin-left: 20px
}
