#n{
  background-color: #d4d9d4;
}

.fadein {
  position:relative;
  margin-bottom: 0px;
}
.fadein img {
  position:absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:1px;
  margin-bottom: 1px;
  height:auto;
  width:70%;
}
