body{
  font-size: 11pt;

}

.njo{
  font-size: 12pt;
  font-weight: bold;
}

.inside{
  margin-left: 11px;
}

.inside-head{
  margin-left: 5px;
}

.inside-head2{
  margin-left: 5px;

}

.inside-sub{
  margin-left: 20px;
  line-height: 0.8em;
}
